<div id="hero" class="hero">
    <%= image_tag 'home/hero.jpg', :class => "hero2" %>
    <p class="large brandon"></p>
    <p class="small brandon"></p>
</div>

<div class="form-wrap clearfix <%= "ended" if Rails.application.config.ended %>">
    <% if Rails.application.config.ended %>
        <p class="thanks brandon">THANK YOU FOR PARTICIPATING<br>IN OUR PRE-LAUNCH.</p>
        <p class="compiling brandon">WE ARE COMPILING REWARDS RIGHT NOW AND WILL EMAIL<br/>COUPON CODES TO ALL RECIPIENTS IN THE NEXT DAY OR TWO</p>
        <p class="go-to brandon">In the meantime, head to  <a href="http://www.harrys.com/">WWW.HARRYS.COM</a></p>
        <p class="again brandon">Thank You Again!</p>
    <% else %>

        <div class="key"><i class="fa fa-plug fa-flip-horizontal"></i></div>
        <p class="byline brandon">Get on waiting list to get invite<br></p>
        <%= form_for @user, :url => { :action => "create" } do |f| %>
            <%= f.text_field :email, :placeholder => "Enter Email", :class => "email brandon" %>
            <input class="submit brandon" name="commit" type="submit" value="Plug In" />
        <% end %>
        <div class="gotoappbox">
            <p>We will be emailing you your invite soon.  Thanks.</p>

            <span class="gotoapp">Go To App</span>
        <%= link_to "GO TO APP", "http://www.plugsapp.com/", class: "gotoapp nodisplay" %>

        <% if false %>

        <p class="check brandon">Site Designed by <%= link_to 'http://itsaspaceship.com', :target => "_blank" do %> <%= image_tag 'spaceship-logo-black.png', :class => "design-footer" %><% end %>.</p>
        <% end %>

       </div>
    <% end %>
</div>